@import "tailwindcss";

@theme inline {
  --color-orange-300: #FFB347;
  --color-accent: #FFB347;
}

:root {
  --background: #ffffff;
  --foreground: #111827; /* Gray 900 for good contrast */
}

body {
  background: var(--background);
  color: var(--foreground);
  /* The Inter font will be applied via layout.tsx */
}
